* {
    background-color: #070707;
    padding: 0;
    margin: 0;
}
header {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

nav h1 {
    font-family: 'Monoton', cursive;
    color: #6e6864;
    font-size: 3em;
    font-weight: lighter;
    margin-left: 30px;
    
}
.login {
    font-family: 'Ubuntu', sans-serif;
    color: #6e6864;
    text-transform: uppercase;
    margin-right: 100px;
    margin-left: 50px;
    text-decoration: none;
   
}

li {
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    color: #6e6864;
    text-transform: uppercase;
    justify-content: space-between;
    list-style: none;
    padding-left: 150px;
}
hr {
    color: #6e6864;
}
.mini {
    font-family: 'Ubuntu', sans-serif;
    font-size: 5rem;
    color: #9d9f9f;
    margin-top: 150px;
    margin-left: 200px;
}
.minimalism {
    text-align-last: center;
    padding-right: 30px;
}

.shop {
    color: #ac8059;
    margin-left: 200px;
    margin-top: 50px;
    text-transform: uppercase;

}
main {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right {
    padding: 5px;
}
.wohn {
   width: 240px;
   height: 540px;
   position: relative;
   margin-right: 10px;
}
.bad {
    width: 240px;
   height: 540px;
    position: relative;
    margin-right: 10px;
 }
 .schlaf {
    width: 240px;
   height: 540px;
    position: relative;
 }
 .facebook {
     width: 40px;
     margin-left: 30px;
 }
 .instagram {
    width: 40px;
}
.twitter {
    width: 40px;
}

 footer {
     display: flex;
     color: #9d9f9f;
     margin-top: 100px;
     align-items: center;
     margin-bottom: 3.5rem;

 }
 footer img {
     display: inline-block;
     justify-content: space-between;
 }
 .shop::before {
    content: ' ';
    width: 30px;
    height: 2px;
    background-color: #ac8059;
    display: inline-block;
    vertical-align: middle;
 }
 .button {
     right: 10vh;
     display: inline-block;
     position: fixed;
     justify-content: space-between;
     margin-bottom: 3.5rem;
 }
 button {
    font-size: 1.5em; 
    width: 50px;
     height: 50px;
     background-color: transparent;
     color: #ac8059;
     border: 2px solid #ac8059;
     border-radius: 50%;
     right: 1rem;
 }
