* {
    background-color: #070707;
    padding: 0;
    margin: 0; /*hier auch Schriftart und -farbe für alle anlegen und Ausnahmen definieren*/
}
/*======================HEADER======================*/
header {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

nav h1 {
    font-family: 'Monoton', cursive;
    color: #6e6864;
    font-size: 3em;
    font-weight: lighter;
    margin-left: 30px;
    
}
.login {
    font-family: 'Ubuntu', sans-serif;
    color: #6e6864;
    text-transform: uppercase;
    margin-right: 100px;
    margin-left: 50px;
    text-decoration: none;
   
}

li {
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    color: #6e6864;
    text-transform: uppercase;
    justify-content: space-between;
    list-style: none;
    padding-left: 150px;
}
li:hover {
    color: #ac8059;
}
hr {
    color: #6e6864;
}
/*======================MAIN======================*/
.mini {
    font-family: 'Ubuntu', sans-serif;
    font-size: 5rem;
    color: #9d9f9f;
    margin-top: 150px;
    margin-left: 200px;
}
.minimalism {
    padding-right: 30px;
}

.shop {
    color: #ac8059;
    margin-left: 200px;
    margin-top: 50px;
    text-transform: uppercase;

}
.shop::before {
    content: ' ';
    width: 30px;
    height: 2px;
    background-color: #ac8059;
    display: inline-block;
    vertical-align: middle;
 }
 
main {
    margin-top: 200px; /*richtig gemacht*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right {
    padding: 5px;
}
.wohn {
   width: 15rem;    /*hier mit .right > img alle gleichzeitig ansprechen*/
   height: 40rem;
   position: relative;
   margin-right: 10px;
}
.bad {
    width: 15rem;
    height: 40rem;
    position: relative;
    margin-right: 10px;
 }
 .schlaf {
    width: 15rem;
   height: 40rem;
    position: relative;
 }
 .facebook {
     width: 40px;
     margin-left: 30px;
 }
 .instagram {
    width: 40px;
}
.twitter {
    width: 40px;
}
/*======================Footer======================*/
 footer {
     display: flex;
     color: #9d9f9f;
     margin-top: 100px;
     align-items: center;
 }
 footer img {
     display: inline-block;
     justify-content: space-between;
     margin-right: 1em;
 }
 
 .button {
     right: 2rem;
     display: inline-block;
     position: fixed;
     justify-content: space-between;
     margin-bottom: 3.5rem;
 }
 button {
     font-size: 1.5em; 
     width: 3rem;
     height: 3rem;
     margin-right: 3rem;
     background-color: transparent;
     color: #ac8059;
     border: 2px solid #ac8059;
     border-radius: 50%;
     right: 1rem;
 }
